#typeDiv {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 10%;
	text-align: center;
}

#txt1 {
	font-size: 16px;
	text-align: center;
	color: white;
}
#txt2 {
	font-size: 16px;
	text-align: center;
	color: white;
}

#content{
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 20%;
}

#together{
	font-size: 25px;
	text-align: center;
	color: white;
}

#timer{
	text-align: center;
	color: white;
}

#d{
	font-size: 19px;
}

#h{
	font-size: 19px;
}

#m{
	font-size: 19px;
}

#s{
	font-size: 19px;
}

#heartTxt{
	position: absolute;
	display: table;
	vertical-align: middle;
	top: 80%;
	left: 0;
	right: 0;
	margin: auto;
	width: 10%;
	height: 8%;
}

#clickMe{
	display: inline-block;
	font-size: 16px;
	width: 100%;
	text-align: center;
	color: white;
}

#heart{
	width: 100%;
	height: 100%;
}

#button{
	background-image: url("../pic/love.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
	border: none;
	outline: none;
	background-position: center;
	transition: 0.1s;
	width: 100%;
	height: 100%;

}

#button:active {
	width: 92%;
	height: 92%;
}

#imgTxt {
    position: absolute;
    display: table;
    vertical-align: middle;
    top: 20%; /* Điều chỉnh vị trí top cho phù hợp */
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
    z-index: 1; /* Đảm bảo phần tử chữ hiển thị trên phần tử ảnh */
}

#img {
    position: absolute;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Đảm bảo phần tử ảnh ở phía dưới */
}

#Txt {
    position: absolute;
    display: table;
    vertical-align: middle;
    top: 20%; /* Adjust top position as needed */
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
    z-index: 2; /* Ensure text appears above the image */
	color: white;
}

#tmp {
    position: absolute;
    display: table;
    vertical-align: middle;
    top: 30%; /* Adjust top position as needed */
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50%;
    z-index: 2; /* Ensure text appears above the image */
	color: white;
}